p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(90deg,white,#ffefaf)
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	height: 200px;
	padding: 5px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf
}

img{
	float: right;
	width: 50;
	height: 50px;
}
